

<!DOCTYPE html>
<html lang="es">

<style>

  button {
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    background-color: #1c3be8;
    color: #fff;
    border: solid 0x;
    text-align: center;
    width: 200px;
  }

  .centered-div{
    padding:20px;
  }

  .centered-div-in{
    padding:20px;
    background-color: rgb(198, 198, 198);
  }

  input{
    float:right;
  }

  
  .showed{
        display: block
    }

  .hidden{
      display: none
  }

</style>
<body>
  <!-- Incluir el encabezado -->
  <main>
    
    <p> We will send and email with a link to introduce a new Password </p>

    <div class="centered-div">
      <div class="centered-div-in">
        <form id="userForm" class="showed">
          <div>
            <label for="password"><strong>Password:</strong></label>
            <input type="password" id="password" name="password" style="float:right;">
            <br>
            <br>
          </div>
          <div >
            <label for="repeatPassword"><strong>Repeat Password:</strong></label>
            <input type="password" id="repeatPassword" name="repeatPassword" style="float:right;">
            <br>
            <br>
          </div>
          <div>
            <label for="twoFA"><strong>2FA:</strong></label>
            <input type="checkbox" id="twoFA" name="twoFA" style="float:right;" checked>
            <br>
            <br>
          </div>
          <div style="padding:10px;margin-top:20px;">    
            <button type="button" onclick="stablishNewPassword()">Stablish new password</button>
          </div>
        </form>
        
        <div id="messageStatusSuccess"
             class = "hidden"
             style = "color:yellowgreen;
                      border:solid yellowgreen 1px;
                      margin-top:5px;
                      padding:10px;">
        </div>
        
        <div id="messageStatusError"
              class="hidden"
              style="color:red;
                     border:solid red 1px;
                     margin-top:5px;
                     padding:10px;">
        </div>
      
      </div>
      <!--input email-->  
    </div>
  
  </main>

  <% if (environment=='development') { %>
    <%- include('../renderedHead/head.ejs') %>
    <% } %>

    <% if (environment=='production') { %>
      <%- include('../renderedHeadProduction/head.ejs') %>
    <% } %>

    <% if (environment=='cordova') { %>
      <%- include('../renderedHeadCordova/head.ejs') %>
    <% } %>
  


</body>
</html>
