<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<style>

@media (max-width: 480px) {

    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        background-color:rgb(198, 198, 198);
    }

    .centered-div{
        border: solid 1px;
        padding:20px;
        width:420px;
        overflow:hidden;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        overflow:hidden;
        width: 100%;
        height: 100%;
    }

    .centered-div-showed{
       display:block;
    }

    .centered-div-hidden{
        display:none;
    }
    
    .move-div-step1{
        width:200%;
        position: relative;
        left:0;
    }

    .move-div-step2{
        width:200%;
        position:relative;
        left:-105%;
    }
    
    .step1Container{
        width:50%;
        float:left;
        padding-bottom:40px;
    }

    .step2Container{
        width:45%;
        float:left;
        padding:10px;
    }



    .centered-div-in{
        padding:10px;
    }

   
    input{
        float:right;
    }

    button{
        
        
        font-weight: 600;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        background-color: #1c3be8;
        color: #fff;
        border: solid 0x;
        text-align: center;
        font-size: 1.5em;
        width: 100%;
        height: 100px;
    

    }
    
    button:hover{
        background-color:#9aa9f8;
    }

    input{
        float: right;
        width: 100%;
        height: 50px;
        font-size: 2.5em;
        border:solid 1px;
    }

    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .recoverPassword{
        background-color:red;
        font-size: 1.0em;
        color:#fff;
        height:76px;
    }

    .backCode{
        height: 100%;
        position: relative;
        top: 40px;
    }

    label {
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .buttonSend-container{
        position: relative;
        top: 30px;
    }
    
    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        padding:20px;
        top:10px;
        left:10px;
        width:100%;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        width:100%;
    }

    .container-button-sendCode{
        position: relative;
        top: 40px;
    }

}


@media (min-width: 480px) {
/* Styles for medium devices */
   
    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .centered-div{
        border: solid 1px;
        padding:20px;
        width:420px;
        overflow:hidden;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        overflow:hidden;
    }

    .centered-div-showed{
       display:block;
    }

    .centered-div-hidden{
        display:none;
    }
    
    .move-div-step1{
        width: 820px;
        position: relative;
        left: 0;
    }

    .move-div-step2{
        width:820px;
        position:relative;
        left:-440px;
    }
    
    .step1Container{
        width:410px;
        float:left;
        padding:10px;
    }

    .step2Container{
        width:360px;
        float:left;
        padding:10px;
    }



    .centered-div-in{
        background-color:rgb(198, 198, 198);
        padding:10px;
    }

   
    input{
        float:right;
    }

    button{
        
        font-weight:600;
        cursor:pointer;
        border-radius:10px;
        padding:10px;
        background-color:#1c3be8;
        color:#fff;
        border:solid 0x;
        text-align:center;
        width:200px;

    }
    
    button:hover{
        background-color:#9aa9f8;
    }

    .backCode{
        padding:20px;
        background-color:rgb(198, 198, 198);
        height:100%;
    }
    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .recoverPassword{
        background-color:red;
        color:#fff;
    }

    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        padding:20px;
        top:10px;
        left:10px;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        
    }
}

</style>
<body>
                <div 
                    id="closeSessionMessage"
                    class = "hidden"
                    style = "position:fixed;
                             top:10px;
                             left:10px;
                             padding:20px;
                             border:solid gray 1px;">
                     
                    <div>
                        <p> 
                            <strong>
                                Previous session could be opened, do you want to close them ? 
                            </strong>
                        </p>
                    </div>
                    <form id="questionCloseSession">
                                <div style = "border:solid gray 1px;
                                              height:20px;
                                              padding:10px;">
                                    <div style = "float:left;width:10%;">
                                        <input type="radio" name="closeSession" value="yes">
                                    </div>
                                    <div style="float:right;
                                                width:90%;
                                                text-align:right;"> 
                                        <strong>
                                            Yes
                                        </strong>
                                    </div>
                                </div>
                                <div style = "border:solid gray 1px;
                                              height:20px;
                                              padding:10px;">
                                    <div style="float:left;width:10%">
                                        <input type="radio" name="closeSession" value="no"> 
                                    </div>
                                    <div style="float:right;
                                                width:90%;
                                                text-align:right;"> 
                                        <strong>    
                                            No
                                        </strong>
                                    </div>
                                </div>
                        <div style="padding:10px;">    
                            <button type="button" onclick="submitCloseSession()">Submit</button>
                        </div>
                        
                    
                    </form>
                    
                </div>
    <div id="centeredDiv" class="centered-div centered-div-showed">
       <div id="move-div" class="move-div-step1"> 
        <div class="step1Container"> 
                
                

                <p id="closeSessionResponse" class="hidden" style="color:orange;"></p>
                <div class="centered-div-in">
                <form id="userForm" class="showed">
                    <label for="email">Usuario:</label>
                    <input type="text" id="email" name="email"><br><br>
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password"><br><br>
                    <div class="buttonSend-container">
                        <button type="button" onclick="submitForm()">Enviar</button>
                    </div>    
                </form>
                
                <div id="errorUserForm" class = "hidden" >
                </div>

                <div class="backCode">
                    <button 
                        type="button" 
                        class="recoverPassword" 
                        onClick="forgotPassword()">
                            Do you forgot your password ?
                    </button><s></s>
                </div>

            </div>
            </div>
            <div class="step2Container">
                <div id="errorCodeForm"  
                    class="hidden">
                </div>
                <div id = "messageCode"
                     class = "hidden">
                     
                </div>
                <div class="centered-div-in">
                <form id="codeForm" class="hidden">
                    <label for="code">Code:</label>
                    <input type="text" id="code" name="code"><br><br>
                    <div class="container-button-sendCode">
                        <button type="button" onclick="submitCodeForm()">Enviar</button>
                    </div>
                </form>
                </div>
                
                
            </div>
            
        </div>
        


    </div>



    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
      
      </body>
</html>
