<!DOCTYPE html>
<head></head>
<body>

    <p>Not session found</p>
    <p id="redirectMessage" style="color:orange"></p>

    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
</body>
</html>