

<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Formulario de Usuario </title>
    
</head>
<style>

@media (min-width: 480px) {
    
    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        padding: 40px;
    }

    .centered-div{
        border: solid 1px;
        padding:20px;
        width:400px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
        box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
    }

    .centered-div-in{
        background-color:rgb(198, 198, 198);
        padding:10px;
    }

    input{
        float:right;
    }

    button{
        
        font-weight:600;
        cursor:pointer;
        border-radius:10px;
        padding:10px;
        background-color:#1c3be8;
        color:#fff;
        border:solid 0x;
        text-align:center;
        width:200px;
        font-size: 1em;


    }
    button:hover{
        background-color:#00051e;

    }
    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .strong{
        font-weight:600;
    }

    .strong-gray{
        color:gray;
    }
    .formatExample{
        text-align:center;
        position:relative;
        top:0px;
    }
    .phoneNumber{
        width:50%;
        float:left;
    }
    .twoFACheck-label{
        opacity:1;
        width:100%;
        float:left;
    }
    .twoFACheck-check{
        opacity:1;
        width:100%;
        float:left;
    }
    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        display:none;
        padding:20px;
        top:10px;
        left:10px;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        display:none;
    }
}

@media (max-width: 480px) {
    
    

    body{
        margin: 0; 
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        background-color: rgb(198, 198, 198);
        padding: 10px;
        
    }

    .centered-div{
        
        padding:20px;
        width: 100%;
        height: 100vh;
        padding: 20px;
        width:100%;
	    height:100%;
        
    }

    .centered-div-in{
        padding:10px;
        width:100%;
	    height: 100vh;
    }

    input{
        float: right;
        width: 100%;
        height: 50px;
        font-size: 2.5em;
        border:solid 1px;
    }

    label{
        font-size: 1em;
	}

    button{
        
        font-weight:600;
        cursor:pointer;
        border-radius:10px;
        padding:10px;
        background-color:#1c3be8;
        color:#fff;
        border:solid 0x;
        text-align:center;
        font-size:1.5em;
        width: 100%;
        height: 80px;

    }
    button:hover{
        background-color:#00051e;

    }
    
    .showed{
        display: block
    }

    .hidden{
        display: none
    }

    .strong{
        font-weight:600;
    }

    .strong-gray{
        color:gray;
    }

    .formatExample{
        text-align:center;
        position:relative;
        top:0px;
    }

    .phoneNumber{
        width:100%;
        float:left;
    }

    .twoFACheck-label{
        opacity:1;
        width:90%;
        float:left;
    }

    .twoFACheck-check{
        opacity:1;
        width:10%;
        float:left;
    }

    .errorUserForm{
        background-color:red;
        color:#fff;
        position:fixed;
        border:solid red 1px;
        display:none;
        padding:20px;
        top:10px;
        left:10px;
        width:100%;
        text-align:center;
    }
    .successUserForm{
        background-color:green;
        color:#fff;
        border:solid green 1px;
        padding:20px;
        position: fixed;
        top: 10px;
        left: 10px;
        display:none;
        width:100%;
        text-align:center;
    
    }
}

</style>
<body>
    <div class="centered-div">
    <button id="startPage" onclick="goToStartPage()">Back to start page</button>
    <br><br>
    <div class="centered-div-in">
    <form id="userForm" class="showed">
        <label for="email" class="strong">User</label>
        <input type="text"  id="email" name="email"><br><br>
        <div>
            <label for="password" class="strong">Password</label>
            <input type="password" id="password" name="password"> <br><br>
            <label for="repeatPassword" class="strong">Repeat password</label>
            <input type="password" id="repeatPassword" name="repeatPassword"><br><br>
        </div>
        <div>
            
            <p class="strong">Password requirements</p>
            <ul>
                <li>At least one especial character</li>
                <li>At least one capital character</li>
                <li>At least one number character</li>
                <li>min length of nine characters and max length twenty characters</li>
            </ul>

        </div>

        <label for="urlName" class="strong">name</label>     
        <input type="urlName" id="urlName" name="urlName"><br><br>
        <div>
            <div class="twoFACheck-label">    
                <label id="labelTwoFA" for="twoFA" class="strong"style="opacity:1">2FA</label>
            </div>
            <div class="twoFACheck-check">
                <input type="checkbox" id="twoFA" name="twoFA" checked><br><br>
            </div>
        </div>
        <div id="options2FA">
            <div template="caseOne" >
                
               
                
                
                
            
            </div>

           
            <div template="caseTwo" >
            

                
            
            </div>
            



            <div template="caseThree">
                
                    
                  
                
                
            </div>


            <div template="caseFour" >
                
                    
                   
                
              
            </div>
            
          </div>  





        <button type="button" onclick="submitForm()" style="margin-top:30px;">Enviar</button>
    </form>
    
    <div id = "errorUserForm"
         class = "errorUserForm" >
    </div>
    
    
    
    </div>
    </div>
    <div id = "successUserForm" 
         class = "successUserForm">
    </div>
    </div>
    <!--<button id="goToLogin" class="hidden">
        Click to go to LOGIN
    </button>-->

    <!--<div id="countMessage" style="color:orange;font-weight:600"></div>-->

    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
    
</body>
</html>

