<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <style>

    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .centered-div {
      border: solid 1px;
      padding: 20px;
      width: 420px;
      overflow: hidden;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(153, 153, 153, 1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(153, 153, 153, 1);
      box-shadow: 10px 10px 5px 0px rgba(153, 153, 153, 1);
      overflow: hidden;
    }
  
  
  
    </style>
  
    <script src="../public/js/changePasswordStepTwo.js"></script>
  
</head>