
<!DOCTYPE html>
<head>
  <%- include('../renderedCss/cssHref.ejs') %>

</head>
<style>
  
  
</style>
<body>
    
    <button id="goToLogin"> Login </button>
    <button id="goToSignUp"> SignUp </button>

    <% if (environment=='development') { %>
      <%- include('../renderedHead/head.ejs') %>
      <% } %>
  
      <% if (environment=='production') { %>
        <%- include('../renderedHeadProduction/head.ejs') %>
      <% } %>

      <% if (environment=='cordova') { %>
        <%- include('../renderedHeadCordova/head.ejs') %>
      <% } %>
    
</body>
</html>