
<!DOCTYPE html>
<html lang="es">

<%- include('../renderedHead/head.ejs') %>

<body>
  <!-- Incluir el encabezado -->
  <main>
    <p>Este es el contenido principal de la página.</p>
  </main>

</body>
</html>
